# Python Data Types & Containers II

For this notebook, it will be a continuation of the data types and containers from the previous day as we will be covering the other possible data containers in Python. The learning objectives are:

* Understand more basic data containers
  * List - used to contain a collection of values, which **can** be modified
  * Tuples - used to contain a collection of values, which **can't** be modified
  * Dictionaries - a key value store
* Mutability vs Immutablity

# More Data Containers

A data container is an object that can be used to contain other objects. In Python, there are 4 basic data containers:

* Variables
* List
* Tuples
* Dictionaries

The data containers `list`, `dictionary` and `tuple`, are also data types themselves.

## Lists

A list can be used to store a group of values, for example I could use a list to hold the items in a shopping list.  We use square brackets ( `[]` ) to create  a list and separate the items in the list with commas. Lists are **mutable**, which means once created we can change, add or remove items.

In [2]:
shopping_list = [ "eggs", "bacon","sausages","bread","baked beans"]
print(shopping_list)
print(type(shopping_list))

['eggs', 'bacon', 'sausages', 'bread', 'baked beans']

list

List can contain a mix of datatypes.

In [5]:
mixed_list = ["one",2,"three",4, True]
print(mixed_list)

['one', 2, 'three', 4, True]

In [6]:
print(type(mixed_list))

list

We can even use list to contain variables.

In [8]:
# variables:
eggs = 6
bacon = 1
sausages = 4
# list:
food_count = [eggs,bacon,sausages]

In [9]:
print(food_count)

[6, 1, 4]

In [10]:
eggs = 8 # assign new value of eggs
print(food_count) # But didn't change the value of egg in the food count

[6, 1, 4]

In [12]:
food_count = [eggs,bacon,sausages]
print(food_count)

[8, 1, 4]

Python has various built-in functions that can be used with lists. You can read more about Python built-in functions [here](https://docs.python.org/3/library/functions.html).

**Using Lists with Python len() Built-in function**

The `len()` function returns the number of items in an object.

Syntax of `len()` is:



```
len(object)
```

In [13]:
# we can find the number of elements in the list using len()
print(len(food_count))

3

**Using Lists with Python max() Built-in function**

The `max()` function returns the item with the highest value, or the item with the highest value in an iterable.

If the values are strings, an alphabetically comparison is done.

Syntax:
`max(n1,n2,n3,...)` or `max(iterable)`

In [14]:
# can use max() to find the largest number in the list
print(max(food_count))

8

In [15]:
print(min(food_count))

1

### Exercise

Create a list called ```prime``` that contains the first 5 prime numbers starting from 1.

In [16]:
prime = [2, 3, 5, 7, 11]

In [18]:
print(prime)

[2, 3, 5, 7, 11]

In [19]:
print(len(prime))
print(max(prime))
print(min(prime))

5
11
2

**Using Lists with for-loop**

Another useful command in Python is the for loop. This can help to iterate or loop through the contents of a list. While we will do for loops in a later class, here is a short code to introduce it.

In [20]:
# for loop - this code sums the number in a list
numbers = [1, 4, 2, 6, 11, 3, 4]
total = 0

# go through the list items one by one using for statement
for i in numbers:
    print(i)
    total = total + i # print out each iteration , total = 0+1

print(total)

1
4
2
6
11
3
4
31

## Tuples

Tuples are very similar to list except they are **immutable**, this means once they have been created we **cannot** change, add or remove values . Another difference is in the syntax, we use curved brackets `()` to create tuples rather than the square brackets used to create list. Tuples are also slightly faster to create than lists.

In [21]:
a_tuple = (1,2,3,4)

In [24]:
print(a_tuple)

(1, 2, 3, 4)

In [25]:
print(type(a_tuple))

<class 'tuple'>

In [22]:
# can also use len() function to find number of elements in tuple
print(len(a_tuple))

4

In [23]:
# can use max() function to find max number in tuple
print(max(a_tuple))

4

## Sets

Sets are similar to lists except that they can only contain unique values. Checking if a value is present in a set is very quick and can be done using the `in` keyword.

In [26]:
list1 = [1,2,1,3,1,2]
a_set = set([1,2,3,1,1,2,3,4])
a_set, list1

({1, 2, 3, 4}, [1, 2, 1, 3, 1, 2])

In [27]:
print(a_set)

{1, 2, 3, 4}

In [28]:
# use len() to find number of element in set
print(len(a_set))

4

In [29]:
# use max() to find max number in sets
print(max(a_set))

4

In [32]:
list1 = [1,2,1,2]
list2 = set(list1)
print(list2)

{1, 2}

In [ ]:
print(a_set)

In [35]:
print(1 in a_set) # check if 1 is in the set

True

In [36]:
print(5 in a_set) # check if 5 is in the set

False

In [37]:
print('Hi' not in a_set) # check if "Hi" is not in the set

True

In [39]:
print(2 not in (4,5))

True

Going back to the shopping list in the Lists section, imagine for a second we didn't know which variables were used to create the food counts. How would we know how much bacon we had? It could be any of the numbers in the list, this is where dictionaries are useful.

## Dictionaries

Dictionaries are a **key value store**. To elaborate, in a traditional dictionary we have a `key` which is a word and we used that key to look up some value which is the definition. We use curly brackets (`{}`) to create a dictionary and to separate the key and value we use a colon ( `:` ). Each key value pair (or entry) is separated by a comma.

In [40]:
food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}
# dict uses {}, key:value sepearted by ;, and key/value pair seperated by comma

In [41]:
print(food_counts)
print(type(food_counts))

{'eggs': 6, 'bacon': 1, 'sausages': 4}
<class 'dict'>

I can now get the amount of bacon by using the `'bacon'` key to look up the value of 1. We use the key name surrounded by square brackets to retrieve the value.

In [42]:
print(food_counts['bacon'])

1

Maybe I counted the amount of bacon wrongly and I wanted to change it.

In [43]:
food_counts['bacon'] = 5

In [44]:
print(food_counts) # bacon is now 5

{'eggs': 6, 'bacon': 5, 'sausages': 4}

We could add another food in the dictionary like so:

In [45]:
food_counts['hash browns'] = 1

In [47]:
print(food_counts)

{'eggs': 6, 'bacon': 5, 'sausages': 4, 'hash browns': 1}

In [48]:
food_counts['fries'] = 2
print(food_counts)

{'eggs': 6, 'bacon': 5, 'sausages': 4, 'hash browns': 1, 'fries': 2}

In [49]:
print(len(food_counts))

5

In a dictonary **the key should be unique**. If we use multiple keys of the same name, we can't be sure which one will be returned.

In [50]:
bad_dict = {'key':5,'key':6,'key':100}

In [51]:
print(bad_dict['key'])

100

**Common Python Dictionary Methods**


1.   `.values()`  Returns a list of all the values in the dictionary
2.   `.keys()` Returns a list containing the dictionary's keys
3.   `.items()` Returns a list containing a tuple for each key value pair

In [52]:
# values
dict1 ={'eggs':6 , 'bacon':1 , 'sausages':4}
values = dict1.values()
print(values)
print(type(values))

for i in values:
    print(i)

print(dict1.values())

6
1
4
dict_values([6, 1, 4])

In [53]:
# keys
print(dict1.keys())

dict_keys(['eggs', 'bacon', 'sausages'])

In [55]:
# items
a = dict1.items()

for i in a:
    print(i)

print(a)

('eggs', 6)
('bacon', 1)
('sausages', 4)

dict_items([('eggs', 6), ('bacon', 1), ('sausages', 4)])

### Exercise

Make a dictionary called `new_shopping_dict` that uses the original list `shopping_list` as the keys and the elements in the list `prime` as values.

In [63]:
shopping_list = [ "eggs", "bacon","sausages","bread","baked beans"]
prime = [2,3,5,7,11]

length = len(prime)

print(length)

new_shopping_dict = {}

print(range(length))

for i in range(length):
    print(i)
    new_shopping_dict[shopping_list[i]]=prime[i]
    
print(new_shopping_dict)

5
range(0, 5)
0
1
2
3
4
{'eggs': 2, 'bacon': 3, 'sausages': 5, 'bread': 7, 'baked beans': 11}

## Section Summary

In Python we have 3 basic data containers: lists, tuples and dictionaries. When solving problems, using the appropriate data container will make the process easier. As you program more, you will build intuition as to which data container to use. List and tuples are both used to store collections of values, however lists are mutable while tuples are immutable. Dictionaries are key value stores.

# Indexing

Indexing can be used to retrieve values from any data type that contains a sequence of items, this includes strings, lists and tuples.   Python uses 0 based index, so we count starting from zero rather than 1 which you might be used to.

In [64]:
string_var = '0123this is the indexing sentence'

In [68]:
s = "Sammy Shark!"

In [69]:
len(s)

12

<table><thead>
<tr>
<th>S</th>
<th>a</th>
<th>m</th>
<th>m</th>
<th>y</th>
<th></th>
<th>S</th>
<th>h</th>
<th>a</th>
<th>r</th>
<th>k</th>
<th>!</th>
</tr>
</thead><tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
</tr>
</tbody></table>

By using the square brackets we can retrieve the character at that index

In [70]:
s[0]

'S'

In [71]:
s[2]

'm'

In [72]:
list1 = ['A','B','C','D']
list1[2]

# index of items in list1

# index 0 = 'A'
# index 1 = 'B'
# index 2 = 'C'
# index 3 = 'D'

'C'

We can also use negative indexing which starts at the end.
<table><thead>
<tr>
<th>S</th>
<th>a</th>
<th>m</th>
<th>m</th>
<th>y</th>
<th></th>
<th>S</th>
<th>h</th>
<th>a</th>
<th>r</th>
<th>k</th>
<th>!</th>
</tr>
</thead><tbody>
<tr>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody></table>

In [73]:
s[-1]

'!'

In [74]:
s[-5]

'h'

In [75]:
s[0:5] # start from index 0, up to but not including index 5

'Sammy'

## List Slicing
When slicing a list, there are three arguments we may need to pass inside the []
1.   1st argument, index to start slicing
2.   2nd argument, index to end slicing
3.   3rd argument(optional), step/increment to slice by

So this will look something like this in the end:
`list[Start: Stop: Step]`

The indexing is exclusive, meaning when you index it's up until the final number but doesn't include it.

In [76]:
# Sammy Shark!
s[:6]

'Sammy '

When we're going to start from the 0th index we can just leave out the 0.

In [77]:
s[3:]

'my Shark!'

In [78]:
s = "abcdef"
s[:3] # up to but not including the 3rd index of d

'abc'

In [79]:
list1 = ['A','B','C','D']
list1[:]

['A', 'B', 'C', 'D']

Suppose now, we only want the even number index character, we can do this by specifying the increment arguemnt:

In [84]:
s = "abcdefghijk"
# only want even number index character
s[0::2]
# s[0::2] # 2 steps

'acegik'

In [85]:
# 3 steps increment will be like this
s = "abcdefghijk"
s[::3]

'adgj'

When we have nested list, or a list inside a list we have to index twice to get the element we want.

In [91]:
x = [1,'Monday',[50,20]]
x[2][1]
# get the 2nd index element first(i.e. [50,20]),
# then get the 1st index of [50,20](i.e. 20)

20

In [90]:
print(type(x[2]))

<class 'list'>

In [92]:
x[2][0]

50

In [93]:
x= [[1,2,3,4],
    [5,6,7,8]] # 2D array or a matrix

x[-1][-2:] # get last two elements from second list

[7, 8]

In [94]:
x[1][2:]

[7, 8]

In [97]:
x[0][:]

[1, 2, 3, 4]

Indexing into a nested list can be a little troublesome. For example, what if I wanted to select all the values in the first column? Thankfully, libraries like numpy provide better data structures for 2D lists (matrices). We'll cover numpy at a later date.

We can use indexing to replace values in a list.

In [98]:
l = [2,3,4,5]

In [99]:
l[0] = 5 # assign new value to the first element(index 0) of list l
l

[5, 3, 4, 5]

In [100]:
l[3] = 20

In [101]:
print(l)

[5, 3, 4, 20]

In [102]:
l[1:] = ['a','b','c']
l

[5, 'a', 'b', 'c']

Since strings are immutable in Python, we can't use indexing to change characters. Instead, we have to use string methods like `.replace`. It's a similar situation with tuples; they're immutable so we can't change values using indexing.

# IF statements

IF statements are conditional statements for decision making. It is used to decide whether a certain statement or block of statements will be executed or not. We will do more details on IF statements in a later class as well.

In [103]:
a = 30
b = 50
if a < b: # the following codes will run because the condition a < b is satisfied (30 < 50)
    c = a + b
    print(c)

print(a,b)

80
30 50

In [105]:
a = 30
b = 50
if a > b: # the following codes will NOT run because the conditional statement a > b is not satisfied
    c = a + b
    print(c)

### Exercise

Return only `"Shark"` from the `s` string using slicing.

In [1]:
s = 'Sammy Shark!'


print(s[6:11])

if "Shark" in s:
    word="Shark"
    
print(word)

Shark
Shark