# Data Structure Methods & Comprehensions Exercise 3A

1. Create a list with only odd numbers from 1 to 23.

In [2]:
list1 = list(range(1, 24))
print(list1)
listOdd = []

for num in list1:
    if num%2 == 1:
        listOdd.append(num) 

print("listOdd:  ", listOdd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
listOdd:   [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

2. Calculate the sum of the digits from the string:
```'2347805673456'```

In [1]:
s = '2347805673456'
sum([int(i) for i in s if i.isdigit()])
# list comprehension

60

In [2]:
# solution 2
s = '2347805673456'
sum([int(n) for n in s])

60

3. Convert the string to a list and uppercase each word.
```
s = "hello world and practice makes permanent and hello world again"
```

In [3]:
s = "hello world and practice makes permanent and hello world again"
s.upper().split()

['HELLO',
 'WORLD',
 'AND',
 'PRACTICE',
 'MAKES',
 'PERMANENT',
 'AND',
 'HELLO',
 'WORLD',
 'AGAIN']

4. Get all the keys from the dictionary:
```
cars = {'cars':['bmw, tesla'], 'food':['mexican', 'sushi'], 'location': 'hong kong'}
```

In [6]:
cars = {'cars':['bmw, tesla'], 'food':['mexican', 'sushi'], 'location': 'hong kong'}
list(cars.keys())

['cars', 'food', 'location']

5. Combine the two lists together in the same sequence.

```
l1 = ['basketball', 'gym', 'football', 'cycling']
l2 = ['apples', 'bread', 'oats', 'salmon']
```

In [8]:
l1 = ['basketball', 'gym', 'football', 'cycling']
l2 = ['apples', 'bread', 'oats', 'salmon']

l3 = l1 + l2
l3

['basketball',
 'gym',
 'football',
 'cycling',
 'apples',
 'bread',
 'oats',
 'salmon']

6. Take a string and calculate the number of letters and digits within it. Return the result in a dictionary.

In [1]:
txt = "H3ll0 Wor1d"
dict_1 = {'LETTERS': sum(1 for x in txt if x.isalpha()), 'DIGITS': sum(1 for x in txt if x.isnumeric())}
dict_1

{'LETTERS': 7, 'DIGITS': 3}

7. Given a dictionary containing the names and ages of a group of people, return the name of the oldest person.

In [8]:
people = {"Emma": 71, "Jack": 45, "Amy": 15, "Ben": 29}
max(people, key=people.get)

'Emma'

8. Given two strings, return the total number of unique characters from the combined string.

In [5]:
s1 = "apple"
s2 = "play"
total_unique = len(set(s1 + s2))
total_unique

5

9. You work for a manufacturer, and have been asked to calculate the total profit made on the sales of a product. You are given a dictionary containing the cost price per unit (in dollars), sell price per unit (in dollars), and the starting inventory. Return the total profit made, rounded to the nearest dollar. Assume all of the inventory has been sold.

{
  "cost_price": 32.67,
  "sell_price": 45.00,
  "inventory": 1200
}

In [6]:
info = {"cost_price": 32.67, "sell_price": 45.00, "inventory": 1200}

round((info["inventory"])*(info["sell_price"] - info["cost_price"]))

14796

10. Find the smallest number of letter removals so that two strings are anagrams of each other.

In [7]:
string1 = 'radar'
string2 = 'rabdar'
s1 = list(string1)
s2 = list(string2)

In [12]:
# method 1
count = 0
for item in s2:
    if item not in s1:
        s2.remove(item)
        count +=1
print(count)

1

In [13]:
# method 2
string1 = 'radar'
string2 = 'rabdar'

d={}
for i in string1:
    if i in d.keys():
        d[i]=d[i]+1
    else:
        d[i]=1
        
for j in string2:
    if j in d.keys():
        d[j]=d[j]-1
    else:
        d[j]=1

In [14]:
sum(d.values())

1