# Data Structure Methods & Comprehensions Exercise 3B

1. Write a program to map two lists into a dictionary.

In [1]:
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
color_dictionary = dict(zip(keys, values))
print(color_dictionary)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

2. Check whether two lists are circularly identical.

```
eg.
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list1 and list2 are circularly identical.
```

In [1]:
list1 = [10, 10, 0, 0, 10]
list2 = [10, 10, 10, 0, 0]
list3 = [1, 10, 10, 0, 0]

def add(x):
    return x+1

print(list(map(add, list1)))


print('Compare list1 and list2')
print(' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
print('Compare list1 and list3')
print(' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

[11, 11, 1, 1, 11]
Compare list1 and list2
True
Compare list1 and list3
False

3. Write a program to find the highest 3 values in a dictionary.

In [3]:
# method 1
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
three_largest = nlargest(3, my_dict, key=my_dict.get)
print(three_largest)

['b', 'e', 'c']

In [2]:
# method 2
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20} 
l =list(my_dict.values())
print(l)

for i in range(3):
    num = max(l)
    print(num)
    l.remove(num)

[500, 5874, 560, 400, 5874, 20]
5874
5874
560

In [5]:
#method 3
l = [500, 5874, 560, 400, 5874, 20]
l.sort(reverse = True)
l
l[:3]

[5874, 5874, 560]

4. Merge two dictionaries.

In [2]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

5. Write a function that takes three arguments (x, y, z) and returns a list containing x sublists (e.g. [[], [], []]), each containing y number of item z.

x Number of sublists contained within the main list.
y Number of items contained within each sublist.
z Item contained within each sublist.

In [7]:
x = 3
y = 2
z = 3
[[z] * y] * x

[[3, 3], [3, 3], [3, 3]]

In [8]:
def func1(x,y,z):
  main_list = []
  sub_list = []
  for i in range(y):
    sub_list.append(z)

  for i in range(x):
    main_list.append(sub_list)

  return main_list

print(func1(5,5,'XX'))

[['XX', 'XX', 'XX', 'XX', 'XX'], ['XX', 'XX', 'XX', 'XX', 'XX'], ['XX', 'XX', 'XX', 'XX', 'XX'], ['XX', 'XX', 'XX', 'XX', 'XX'], ['XX', 'XX', 'XX', 'XX', 'XX']]

6. Write a program to find the list in a list of lists whose sum of elements is the highest.

```
Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]
Expected Output: [10, 11, 12]
```

In [ ]:
num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(num, key=sum))

[10, 11, 12]

7. Write a program to extend a list without append.

In [10]:
x = [10, 20, 30]
y = [40, 50, 60]
x[:0] =y
print(x)

[40, 50, 60, 10, 20, 30]

8. Write a program to replace the last element in a list with another list.

In [9]:
num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]
num1[-1:] = num2
print(num1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

9. Add a key to a dictionary using data sctructure methods.

In [3]:
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

10. Write a program to find missing and additional values in two lists.

In [4]:
# method 1
list1 = ['a','b','c','d','e','f']
list2 = ['d','e','f','g','h']
print('Missing values in second list: ', ','.join(set(list1).difference(list2)))
print('Additional values in second list: ', ','.join(set(list2).difference(list1)))

Missing values in second list:  b,a,c
Additional values in second list:  h,g

In [12]:
# method 2 join isn't necessary 
list1 = ['a','b','c','d','e','f']
list2 = ['d','e','f','g','h']

print('Missing values in second list: ', set(list1).difference(list2) )
print('Additional values in second list', set(list2).difference(list1))

Missing values in second list:  {'c', 'a', 'b'}
Additional values in second list {'g', 'h'}