# Python Data Types & Containers Exercise 2A

1. Is the following list assignment correct? If not, explain why it isn't. If it is, print out _this_list_.
```
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, 'two', 3, four, list_1]
```

In [1]:
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, two, three, four, list_1]
print(this_list)

['one', 2, 3, 'four', ['a', 7]]

2. What is the set of the tuple ```(1,2,3,33,3,3,4,5)```?

In [8]:
t = (1,2,3,33,3,3,4,5)
set(t)

{1, 2, 3, 4, 5, 33}

3. For the dictionary ```food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}```, add a new key in the dictionary called _milk_ with value 1.

In [9]:
food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}
food_counts["milk"] = 1
food_counts

{'eggs': 6, 'bacon': 1, 'sausages': 4, 'milk': 1}

4. For the string ```supercalifragilisticexpialidocious```, print out the string ```fragilistic``` using slicing.

In [2]:
s = "supercalifragilisticexpialidocious"
s[9:20]

# if "fragilistic" in s:
#     print("True")

'fragilistic'

5. Given the dictionary ```{1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}```

Return the string _'good job'_ through indexing.

In [1]:
dict1 = {1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}

In [2]:
dict1['three'][1][3][:-1]

'good job'

6. Print out the string ```reverse``` in reverse using slicing.
```
Desired output:
esrever
```

In [3]:
'reverse'[::-1]

'esrever'

7. Return the total number of lists inside a given list.

```
eg.
for [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]] there are 4 sub-lists inside the list
```

In [4]:
len([[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]])

4

8. Return the indices of all occurrences of an item in the list.

```
eg.
For the list [1, 5, 2, 7, 5], if we are trying to find all of the occurrences of 5, their indices are 1 and 4
```

In [ ]:
lst = [1, 5, 2, 7, 5]
el = 5

index=0
for no in lst:
    if no==el:
        print(index)
    index +=1

1
4

In [6]:
# method 2
lst = [1, 5, 2, 7, 5]
el = 5

mylist=[]
for i in range(len(lst)):
    if lst[i] == el:
        mylist.append(i)

print(mylist)

# method 2 list comprehension
[i for i in range(len(lst)) if lst[i] == el]

[1, 4]

[1, 4]

9. Take a dictionary and return the keys and values as separate lists.

In [1]:
d = {"a": "Apple", "c": "Microsoft", "b": "Google" }
print(list(d.keys()),list(d.values()))

['a', 'c', 'b'] ['Apple', 'Microsoft', 'Google']

In [7]:
# method 2

d = {"a": "Apple", "c": "Microsoft", "b": "Google" }
list(zip(*sorted(d.items())))


# method 3
list(map(list, zip(*sorted(d.items()))))

[['a', 'b', 'c'], ['Apple', 'Google', 'Microsoft']]

In [5]:
# extra info - using sorted and enumerate
d = {"a": "Apple", "c": "Microsoft", "b": "Google"}
print(sorted(d.items()))
print([(i,v) for (i,v)  in enumerate(d)])

[('a', 'Apple'), ('b', 'Google'), ('c', 'Microsoft')]
[(0, 'a'), (1, 'c'), (2, 'b')]

10. Take an integer and output an n x n square solely consisting of the integer n.

```
eg.
For n = 3,
the output should be

3, 3, 3
3, 3, 3
3, 3, 3
```

In [8]:
# method 1
n=3
print(f"{n}, {n}, {n}")
print(f"{n}, {n}, {n}")
print(f"{n}, {n}, {n}")

3, 3, 3
3, 3, 3
3, 3, 3

In [24]:
# method 2
lst = []
def square(n):
    for i in range(n):
        lst2 = []
    for j in range(n):
        lst2.append(n)
        lst.append(lst2)
    return lst


square(5)

[[5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5]]

In [ ]:
# method 3
n = 5
[[n]*n]*n

[[5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5],
 [5, 5, 5, 5, 5]]

11. Given a phrase, return False if any individual word in the phrase contains duplicate letters. Return True otherwise.

In [9]:
phrase = 'abcd eee fff'
words = phrase.split()
for word in words:
    if len(set(word))!=len(word):
        print(word)
        print('False')

eee
False
fff
False

12. Given a list of sentences, print the length (including punctuation) of each sentence.

```
eg.
['Hello, my name is Bob.', 'I am 24 years old.', 'I live in Hong Kong.']

Desired output:
22
18
20
```

In [26]:
sentence_list = ['Hello, my name is Bob.', 'I am 24 years old.', 'I live in Hong Kong.']

for i in sentence_list:
    print(len(i))

22
18
20