# Python Data Types & Containers Exercise 2A (Compulsory)

1. Is the following list assignment correct? If not, explain why it isn't. If it is, print out _this_list_.
```
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, 'two', 3, four, list_1]
```

In [6]:
one = 'one'
two = 2
three = 3
four = 'four'
list_1 = ["a", 7]
this_list = [one, 'two', 3, four, list_1]
this_list1 = [one, two, three, four, list_1]
this_list
print (this_list)
print (this_list[0])
print (this_list1)

['one', 'two', 3, 'four', ['a', 7]]
one
['one', 2, 3, 'four', ['a', 7]]

2. What is the set of the tuple ```(1,2,3,33,3,3,4,5)```?

In [3]:
tup = (1,2,3,33,3,3,4,5)
set(tup)

{1, 2, 3, 4, 5, 33}

3. For the dictionary ```food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}```, add a new key in the dictionary called _milk_ with value 1.

In [4]:
food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}
food_counts ['milk'] = 1
food_counts

{'eggs': 6, 'bacon': 1, 'sausages': 4, 'milk': 1}

4. For the string ```supercalifragilisticexpialidocious```, print out the string ```fragilistic``` using slicing.

In [7]:
s="supercalifragilisticexpialidocious"
s[9:20]

'fragilistic'

5. Given the dictionary ```{1: ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}```

Return the string _'good job'_ through indexing.

In [30]:
string1 = {'1': ['this', 'is', ['a', 'list']], '2': {'a': 'nother', 'd':'ictionary', '3': [1,2,3,4,5]}, 'three': ['list',{2:'woah', 3: 'good job!'}]}
string1['three'][1][3][:-1]

'good job'

6. Print out the string ```reverse``` in reverse using slicing.
```
Desired output:
esrever
```

In [31]:
s_re = "reverse"
s_re[::-1]

'esrever'

7. Return the total number of lists inside a given list.

```
eg.
for [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]] there are 4 sub-lists inside the list
```

In [32]:
lista=[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]
len(lista)

4

8. Return the indices of all occurrences of an item in the list.

```
eg.
For the list [1, 5, 2, 7, 5], if we are trying to find all of the occurrences of 5, their indices are 1 and 4
```

In [41]:
listb=[1, 5, 2, 7, 5]
for i in listb:
    print (listb.index(5, 0, 4))

1
1
1
1
1

9. Take a dictionary and return the keys and values as separate lists.

In [54]:
dic_key_list = [food_counts.keys()]
dic_val_list = [food_counts.values()]
print (dic_key_list)
print (dic_val_list)

print (list(food_counts.keys()) + list(food_counts.values()))
print (list(food_counts.keys()) , list(food_counts.values()))

dic_key_list_b = list(food_counts.keys())
dic_val_list_b = list(food_counts.values())
print (dic_key_list_b)
print (dic_val_list_b)

[dict_keys(['eggs', 'bacon', 'sausages', 'milk'])]
[dict_values([6, 1, 4, 1])]
['eggs', 'bacon', 'sausages', 'milk', 6, 1, 4, 1]
['eggs', 'bacon', 'sausages', 'milk'] [6, 1, 4, 1]
['eggs', 'bacon', 'sausages', 'milk']
[6, 1, 4, 1]

10. Take an integer and output an n x n square solely consisting of the integer n.

```
eg.
For n = 3,
the output should be

3, 3, 3
3, 3, 3
3, 3, 3
```

In [58]:
n=input()
for i in range (int(n)):
    for j in range (int(n)):
        print (n+", ", end="")

2, 2, 2, 2,

11. Given a phrase, return False if any individual word in the phrase contains duplicate letters. Return True otherwise.

12. Given a list of sentences, print the length (including punctuation) of each sentence.

```
eg.
['Hello, my name is Bob.', 'I am 24 years old.', 'I live in Hong Kong.']

Desired output:
22
18
20
```